<!DOCTYPE html>
 <%- include('header'); -%>
 <% for (var i = 1; i < playlist.length; i++) {%>
 <div class="card" >
  <p><%=playlist[i].name%>
  </style>
     <h2 style="text-align: left;"></h2>
     <div class="d-flex flex-row bd-highlight mb-3">
  <audio controls style = "width: 95%;">
    <source src="<%=playlist[i].url%>">
  </audio>
  <form class="form-music" action='/mymusic' method=post>
  <button type="submit" class="btn btn-success" style = "width: 125%;">Add</button>
  <input hidden name='music' value=<%=playlist[i].id%>>
  </form>
  </div>
  </div>
  <%}%>
 </body>
</html>